h1{
    color: aquamarine;
    background-color: antiquewhite;
}
.div{
    color: black;
    background-color: aquamarine;
    margin: 3px;
    padding: 4px;
    box-shadow: 10px 10px 10px seagreen;
    border-radius: 5px;
}